{% extends "account/_base_auth.html" %}
{% load i18n %}

{% block title %}{% trans "Confirm Access" %} | {{ block.super }}{% endblock %}

{% block auth_content %}
<h1 class="auth-heading">{% trans "Confirm access" %}</h1>
<p class="auth-subheading">{% blocktranslate %}Please reauthenticate to safeguard your account.{% endblocktranslate %}</p>

{% block reauthenticate_content %}{% endblock %}

{% if reauthentication_alternatives %}
<div class="auth-divider">{% translate "Alternative options" %}</div>
<div class="flex flex-col gap-2">
    {% for alt in reauthentication_alternatives %}
    <a href="{{ alt.url }}" class="auth-btn auth-btn-secondary w-full">{{ alt.description }}</a>
    {% endfor %}
</div>
{% endif %}
{% endblock %}
