.git
.github
.pytest_cache/
.ruff_cache/
.mypy_cache/
.coverage
htmlcov/
.venv/
node_modules/
__pycache__/
*.py[cod]
*.sqlite3
*.db
*.log
.env
.env.prod
celerybeat-schedule
celerybeat-schedule-*
postgres_data/
redis_data/
staticfiles/
media/
dist/
build/
