amqp==5.3.1
asgiref==3.11.1
asttokens==3.0.1
attrs==25.4.0
autobahn==25.12.2
automat==25.4.16
billiard==4.2.4
black==26.3.1
cbor2==5.8.0
celery==5.6.2
certifi==2026.1.4
cffi==2.0.0
channels==4.3.2
channels-redis==4.3.0
charset-normalizer==3.4.7
click==8.3.1
click-didyoumean==0.3.1
click-plugins==1.1.1.2
click-repl==0.3.0
constantly==23.10.4
coverage==7.13.5
cryptography==46.0.5
daphne==4.2.1
decorator==5.2.1
django==6.0.2
django-allauth==65.14.3
django-debug-toolbar==6.3.0
django-extensions==4.1
django-ratelimit==4.1.0
djangorestframework==3.16.1
et-xmlfile==2.0.0
executing==2.2.1
factory-boy==3.3.3
faker==40.11.1
flake8==7.3.0
hyperlink==21.0.0
idna==3.11
incremental==24.11.0
iniconfig==2.3.0
ipython==9.11.0
ipython-pygments-lexers==1.1.1
jedi==0.19.2
kombu==5.6.2
matplotlib-inline==0.2.1
mccabe==0.7.0
msgpack==1.1.2
mypy-extensions==1.1.0
numpy==2.4.2
openpyxl==3.1.5
packaging==26.0
pandas==3.0.1
parso==0.8.6
pathspec==1.0.4
pexpect==4.9.0
pillow==12.1.1
platformdirs==4.9.4
pluggy==1.6.0
prompt-toolkit==3.0.52
psutil==7.2.2
psycopg==3.3.3
psycopg-binary==3.3.3
ptyprocess==0.7.0
pure-eval==0.2.3
py-ubjson==0.16.1
pyasn1==0.6.2
pyasn1-modules==0.4.2
pycodestyle==2.14.0
pycparser==3.0
pyflakes==3.4.0
pygments==2.19.2
pyjwt==2.11.0
pyopenssl==25.3.0
pytest==9.0.2
pytest-cov==7.1.0
python-dateutil==2.9.0.post0
python-decouple==3.8
python-json-logger==4.0.0
pytokens==0.4.1
redis==7.2.0
requests==2.33.1
service-identity==24.2.0
six==1.17.0
sqlparse==0.5.5
stack-data==0.6.3
structlog==25.5.0
traitlets==5.14.3
twisted==25.5.0
txaio==25.12.2
typing-extensions==4.15.0
tzdata==2025.3
tzlocal==5.3.1
ujson==5.12.0
urllib3==2.6.3
vine==5.1.0
wcwidth==0.6.0
whitenoise==6.12.0
xlrd==2.0.2
zope-interface==8.2
